.wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(43, 45, 66, 0.3);
  z-index: 2;
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: clamp(500px, 40%, 600px);
  padding: 40px 30px;
  border-radius: 20px;
  font-weight: bold;
  background-color: #EDF2F4;
}

.popup p {
  width: 100%;
  color: #2B2D42;
  text-align: center;
}

.popup p:first-of-type {
  font-size: 40px;
}

.popup p:last-of-type {
  margin-top: 10px;
  font-size: 30px;
}