.page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1440px;
  height: 900px;
  padding: 0 11.5%;
  background-image: url('/space-tourism/crew/background-crew-desktop.jpg')
}

.headingWrapper {
  display: flex;
  margin-top: 212px;
}

.number, .heading {
  font-size: 28px;
  text-transform: uppercase;
}

.number { 
  color: #979797;
}

.heading {
  margin-left: 28px;
  color: #ffffff;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
  width: 132px;
}

.pagePointer {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #979797;
  list-style-type: none;
}

.pagePointer:hover {
  cursor: pointer;
}

.active {
  background-color: #ffffff;
}