.button {
  width: 380px;
  height: 55px;
  background-color:  hsl(278, 68%, 11%);
  border-radius: 7px;
  font-family: inherit;
  font-size: 17px;
  letter-spacing: 1px;
  border: 0;
}

.button:hover {
  cursor: pointer;
}